<div class="skills">
    <h1>Skills</h1>
    <div class="skills1">
        <a href="https://www.udemy.com/certificate/UC-6dc76c64-5dd4-439b-be58-3b85b58fff59/">
            <img src="assets/img/html.png" alt="html img">
        </a>
        <a href="https://www.udemy.com/certificate/UC-6dc76c64-5dd4-439b-be58-3b85b58fff59/">
            <img src="assets/img/css.png" alt="css img">
        </a>
        <img src="assets/img/js.png" alt="js img">
        <a href="https://www.udemy.com/certificate/UC-66f2a0f2-ac2c-4bbc-ad99-0464f46ae253/">
            <img class="typescript" src="assets/img/typescript.png" alt="typescript img">
        </a>
    </div>
    <div class="skills2">
        <a href="https://www.udemy.com/certificate/UC-5ed6bf30-dc16-425d-8639-995c6e2d0461/">
            <img src="assets/img/angular.png">
        </a>
        <a href="https://www.udemy.com/certificate/UC-67ccb52f-b1cc-4f37-928d-8b42f76ba024/">
            <img src="assets/img/nodejs.png">
        </a>
        <a href="https://www.udemy.com/certificate/UC-e2f6e73f-f86d-4029-b8e9-0059d6bce3c5/">
            <img src="assets/img/mongodb.png">
        </a>
        <a href="https://www.udemy.com/certificate/UC-3ac8670c-57cd-40e9-966e-3bd95e9194ce/">
            <img src="assets/img/python.png">
        </a>
    </div>
</div>