/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Permanent+Marker&display=swap');

body {
    background-image: url(/assets/img/layered-waves-haikei.svg);
    height: 100%;
    width: 100%;
    position: fixed;
}